<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <title>Home</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        body{
            background-color: #111;
            color:white;
            font-family:'Montserrat', sans-serif;
        }
        nav{
            background-color: #000;
            display: flex;
            justify-content: space-between;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        #logo{
            font-weight: 900;
            display: flex;
            align-items: center;
        }
        #linksHolder{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .suppressedBtn{
            background: none;
            color: inherit;
            border: none;
            padding-right: 20px;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
        .suppressedBtn:hover{
            color:coral;
        }
    </style>
</head>
<body>
    <nav>
        <div id="logo">
            The Fruit Shop
        </div>
        <div id="linksHolder">
            <form action="/auth/viewCalendar" method="POST">
                <button class="suppressedBtn" type="submit">View Expenditure Calendar</button>
            </form>

            <form action="/auth/viewTable" method="POST">
                <button class="suppressedBtn" type="submit">Analyze</button>
            </form>
        </div>
    </nav>
    <h1 style="padding-top:300px; text-align: center; font-weight: 900; font-size: 2.5rem;">
        Welcome to Fruit Shop!
    </h1>
</body>
</html>